.home_index_container {
    background-color: #fff;
    min-width: 1280px;
    font-size: 0;
    line-height: 0;
}
.banner_area {
    display: block;
    height: 930px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.video1 {
    top: 0;
    z-index: 1;
    min-width: 1200px;
    width: 2480px;
    margin-left: -1240px;
}
.banner_txt, .video1 {
    position: absolute;
    left: 50%;
}
/* video {
    outline: none;
    min-width: 1280px;
    -o-object-fit: contain;
    object-fit: contain;
} */
.banner_txt {
    display: block;
    width: 856px;
    height: 174px;
    top: 50%;
    z-index: 2;
    text-align: center;
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    letter-spacing: 18px;
}
.video-banner-bg {
    height: 930px;
    background: #000 url(/lufaxholding/common/images/video.4c874bf8.png) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: none;
}