.header {
  position: fixed;
  min-width: 1200px;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  z-index: 99999;
  background: #fff;
  }
  .header .inner {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    position: relative;
  }
  .logo_wrapper{
    height: 80px;
    width: 100px;
    float: left;
    /* background-color: aqua; */
    
  }
  .logo_wrapper a img{
    width: 104px;
    height: 36px;
    padding-top: 16px;
  }
  .logo_wrapper a{
    text-decoration: none;
    outline: none;
  }
  .header .menus_wrapper {
    float: right;
}
.header .menus {
  position: relative;
  height: 80px;
}
.header .menu_item {
  float: right;
  height: 80px;
  margin-left: 60px;
}
.header .menu_item .menu_item_inner {
  position: relative;
  height: 80px;
}
.header .menu_item .menu_item_inner div:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: #333;
  text-align: center;
  white-space: nowrap;
}
.header .menu_item a {
  font-family: PingFangSC-Medium;
  font-weight: 600;
  font-size: 16px;
  color: #333;
}